It's your turn {{this.activePlayerToken}}

<table>
  {{#each this.board as |row x|}}
    <tr>
      {{#each row as |value y|}}
        <td>
          <button {{on "click" (fn this.enterMove x y)}}>
            [ {{value}} ]
          </button>
        </td>
      {{/each}}
    </tr>
  {{/each}}
</table>
