.component-board {
  .board-row {
    &:first-of-type .board-block {
      border-top: none;
    }
    &:last-of-type .board-block {
      border-bottom: none;
    }

    .board-block {
      background-color: $board-block-color;

      &:first-of-type {
        border-left: none;
      }
      &:last-of-type {
        border-right: none;
      }

      display: inline-block;
      vertical-align: top;
      width: $board-block-size;
      height: $board-block-size;
      margin: 0;
      margin-right: -4px;

      border: $input-border;
      cursor: pointer;

      text-align: center;
      line-height: $board-block-size;
      font-size: $board-block-size / 3;
    }
  }
}
